:root {
  font-size: 62.5%;
}

html {
  height: 100%;
  font-weight: 500;
  overflow-y: inherit;
}

body {
  min-width: 375px;
  width: 100%;
  min-height: 100%;
  height: 100%;
  font-size: 1.4rem;
  overflow-x: hidden;
  position: relative;
}
@media (min-width: 641px) {
  body {
    overflow-x: inherit;
  }
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6, p, figure {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  opacity: 0.6;
}

ul, ol {
  margin: 0;
  padding: 0;
}

li, dl, dd {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

time {
  font-family: "Oswald";
}

.l-header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  font-size: 30px;
}
.l-header__menu {
  height: 60px;
  background-color: black;
  display: flex;
  position: relative;
}
.l-header__menu li {
  display: flex;
  align-items: center;
}
.l-header__menu li.l-header__menu__logo {
  width: 100px;
  padding: 0 20px 0 10px;
  background-color: black;
  justify-content: center;
}
@media (min-width: 769px) {
  .l-header__menu li.l-header__menu__logo {
    margin-right: auto;
    border-right: 0;
    font-size: 30px;
  }
}

.l-footer {
  margin-top: 50px;
  height: 100px;
  background-color: black;
  color: white;
  text-align: center;
}
.l-footer > p {
  padding-top: 25px;
}
.l-main {
  position: relative;
  width: 100%;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
}
.l-main__top {
  width: 100%;
  height: 500px;
}
.l-main__top__img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
.l-main__top > p {
  position: absolute;
  z-index: 2;
  width: 300px;
  height: 100px;
  top: 5%;
  left: 20%;
  padding-top: 30px;
  font-size: 30px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: 1px solid;
  border-color: white;
}
.l-main__about {
  text-align: center;
}
.l-main__about > h1 {
  padding: 75px;
  font-size: 30px;
  font-weight: bold;
}
.l-main__about > h2 {
  padding: 30px 10px;
  text-align: left;
  line-height: 200%;
  font-size: 20px;
  font-weight: 200;
}
.l-main__about > p {
  padding: 10px;
  text-align: left;
  line-height: 200%;
  font-size: 15px;
}
.l-main__service {
  text-align: center;
}
.l-main__service > h1 {
  padding: 75px;
  font-size: 30px;
  font-weight: bold;
}
.l-main__service__dcp > h2 {
  padding: 30px 10px;
  text-align: left;
  line-height: 200%;
  font-size: 20px;
  font-weight: 200;
}
.l-main__service__dcp > p {
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  line-height: 200%;
  font-size: 15px;
}
.l-main__news {
  text-align: center;
}
.l-main__news > h1 {
  padding: 75px;
  font-size: 30px;
  font-weight: bold;
}
.l-main__news__content > h2 {
  padding: 30px 10px;
  text-align: left;
  line-height: 200%;
  font-size: 30px;
  font-weight: 200;
}
.l-main__news__content > p {
  padding: 20px;
  margin: 25px;
  text-align: left;
  line-height: 200%;
  font-size: 15px;
}
.l-main__contact > h1 {
  margin: 50px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}
.l-main__contact > p {
  left: 0;
}
.l-main__contact__input {
  margin: 0 10px 20px 0px;
  border: 1px solid black;
}
.l-main__contact__button {
  margin: auto;
  display: flex;
  width: 250px;
  height: 50px;
  background-color: black;
  color: white;
  font-size: 20px;
  border-radius: 25px;
}
.l-main__contact__button > span {
  margin: auto;
}
@media (min-width: 641px) {
  .l-main__top {
    width: 100%;
    height: 500px;
  }
  .l-main__top__img {
    width: 100%;
    height: 500px;
    position: absolute;
    z-index: 1;
  }
  .l-main__top > p {
    position: absolute;
    z-index: 2;
    width: 50%;
    height: 100px;
    top: 5%;
    left: 25%;
    padding-top: 25px;
    font-size: 25px;
    text-align: center;
    border: 1px solid;
    border-color: white;
  }
  .l-main__about {
    text-align: center;
  }
  .l-main__service {
    text-align: center;
  }
  .l-main__news {
    text-align: center;
  }
  .l-main__contant {
    text-align: center;
  }
}
@media (min-width: 769px) {
  .l-main__top {
    width: 100%;
    height: 500px;
  }
  .l-main__top__img {
    width: 100%;
    height: 500px;
    position: absolute;
    z-index: 1;
  }
  .l-main__top > p {
    position: absolute;
    z-index: 2;
    width: 50%;
    height: 100px;
    top: 5%;
    left: 25%;
    padding-top: 25px;
    font-size: 30px;
    text-align: center;
    border: 1px solid;
    border-color: white;
  }
  .l-main__about {
    text-align: center;
  }
  .l-main__service {
    text-align: center;
  }
  .l-main__news {
    text-align: center;
  }
  .l-main__contant {
    text-align: center;
  }
}
@media (min-width: 961px) {
  .l-main__top {
    width: 100%;
    height: 500px;
  }
  .l-main__top__img {
    width: 100%;
    height: 500px;
    position: absolute;
    z-index: 1;
  }
  .l-main__top > p {
    position: absolute;
    z-index: 2;
    width: 25%;
    height: 100px;
    top: 5%;
    left: 35%;
    padding-top: 25px;
    font-size: 30px;
    text-align: center;
    border: 1px solid;
    border-color: white;
  }
  .l-main__about {
    text-align: center;
  }
  .l-main__service {
    text-align: center;
  }
  .l-main__news {
    text-align: center;
  }
  .l-main__contant {
    text-align: center;
  }
}

body {
  overflow-x: hidden;
}

.p-gmenu {
  height: 60px;
  position: relative;
}
.p-gmenu > .list {
  transition: all 300ms 0s ease;
  width: 100vw;
  height: 100vh;
  padding: 70px 50px;
  position: fixed;
  top: 60px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
  overflow-y: auto;
  left: 100%;
}
@media (min-width: 769px) {
  .p-gmenu > .list {
    width: inherit;
    height: inherit;
    padding: inherit;
    position: static;
    background: inherit;
    flex-direction: row;
    transition: inherit;
  }
}
.p-gmenu > .list > li {
  margin-bottom: 50px;
}
.p-gmenu > .list > li:last-child {
  margin-bottom: 0;
}
@media (min-width: 769px) {
  .p-gmenu > .list > li {
    margin-bottom: 0;
  }
}
@media (min-width: 769px) {
  .p-gmenu > .list {
    height: 60px;
    display: flex;
    align-items: center;
  }
}
.p-gmenu > .list li {
  font-size: 1.4rem;
}
@media (min-width: 769px) {
  .p-gmenu > .list li {
    margin-right: 20px;
    font-size: 1.2rem;
  }
}
.p-gmenu.is-open > .list {
  left: 0;
}

.p-hamburger {
  width: 60px;
  height: 60px;
  background-color: black;
  position: relative;
}
@media (min-width: 769px) {
  .p-hamburger {
    display: none;
  }
}
.p-hamburger::before, .p-hamburger::after {
  content: "";
  width: 20px;
  height: 1px;
  background: white;
  position: absolute;
  left: calc( 50% - ( 20px / 2 ));
  display: block;
  transition: transform 0.2s;
}
.p-hamburger::before {
  top: 22px;
}
.p-hamburger::after {
  top: 38px;
}
.p-hamburger > span {
  width: 20px;
  height: 1px;
  font-size: 0;
  background: linear-gradient(to right, #fff, #fff) repeat-x #fff;
  background-size: auto 1px;
  position: absolute;
  left: calc( 50% - ( 20px / 2 ));
  top: 50%;
  transition: transform 0.2s;
}
.p-hamburger.is-open::before {
  transform: rotate(45deg);
  top: 28px;
}
.p-hamburger.is-open::after {
  transform: rotate(-45deg);
  top: 28px;
}
.p-hamburger.is-open > span {
  background: none;
}

body.is-open {
  position: fixed;
}

.u-disp--sp {
  display: block;
}
@media (min-width: 641px) {
  .u-disp--sp {
    display: none;
  }
}
@media (min-width: 769px) {
  .u-disp--sp {
    display: none;
  }
}
@media (min-width: 961px) {
  .u-disp--sp {
    display: none;
  }
}
.u-disp--tablet {
  display: none;
}
@media (min-width: 641px) {
  .u-disp--tablet {
    display: block;
  }
}
@media (min-width: 769px) {
  .u-disp--tablet {
    display: none;
  }
}
@media (min-width: 961px) {
  .u-disp--tablet {
    display: none;
  }
}
.u-disp--pc {
  display: none;
}
@media (min-width: 641px) {
  .u-disp--pc {
    display: none;
  }
}
@media (min-width: 769px) {
  .u-disp--pc {
    display: block;
  }
}
@media (min-width: 961px) {
  .u-disp--pc {
    display: block;
  }
}
.u-disp--wide {
  display: none;
}
@media (min-width: 641px) {
  .u-disp--wide {
    display: none;
  }
}
@media (min-width: 769px) {
  .u-disp--wide {
    display: none;
  }
}
@media (min-width: 961px) {
  .u-disp--wide {
    display: block;
  }
}
.u-disp--full {
  display: none;
}
@media (min-width: 641px) {
  .u-disp--full {
    display: none;
  }
}
@media (min-width: 769px) {
  .u-disp--full {
    display: none;
  }
}
@media (min-width: 961px) {
  .u-disp--full {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */