.l-footer {
	margin-top: 50px;
	height: 100px;
	background-color: black;
	color: white;
	text-align: center;
	>p {
		padding-top: 25px;
	}
	@include breakpoint( tablet ) {
	}
	@include breakpoint( pc ) {
	}
	@include breakpoint( wide ) {
	}
}
